---
layout: page
headerClass: features
pageTitle: Lanamark One Features - Design Automation, Hardware Asset Intelligence, Data Center Assessment, Channel Partner Ready
title: Features
subtitle: Systems engineering automation platform for IT sales and services teams designing, configuring and pricing cloud, converged and storage solutions.
---

<div class="features">
  <div class="sticky-menu" id="stickyNav">
    <ul>
      <li><a class="active" href="#design-automation">Design Automation</a></li>
      <li><a class="" href="#hardware-asset-intelligence">Hardware Asset Intelligence</a></li>
      <li><a class="" href="#data-center-assessment">Data Center Assessment</a></li>
      <li><a class="" href="#channel-partner">Channel Partner Ready</a></li>
      <li><a class="" href="#core-features">Core Features</a></li>
    </ul>
  </div>

{% include feature.html id='design-automation' %}

{% include feature.html id='hardware-asset-intelligence' %}

{% include quote.html id=1 %}

{% include feature.html id='data-center-assessment' %}

{% include feature.html id='channel-partner' %}

{% include feature.html id='core-features' %}

