---
layout: default
headerClass: homepage
pageTitle: Lanamark - Systems engineering automation for IT sales and services teams
title: Systems engineering automation for IT sales and services teams
subtitle: Collaboratively design, configure and price cloud, converged and storage infrastructure solutions using Lanamark One.
---

<div class="section product-one">
    <div class="inner">
      <div class="wrap">
        <img class="preview" src="/assets/images/product-preview.png" alt="">
        <h2>
            Lanamark One
            <small>Systems engineering automation platform for IT sales and services teams designing, configuring and pricing cloud, converged and storage infrastructure solutions.</small>
        </h2>
      </div>
    </div>
</div>

{% include feature.html id='index' %}

{% include quote.html id=1 %}
