<div class="section alliances features">
  <div class="inner">
    <div class="wrap">
      <h2>Strategic Alliances</h2>
      <div class="columns columns--three">
        <div class="column">
          <a href="http://www.cisco.com" target="cisco" class="company cisco">Cisco</a>
        </div>
        <div class="column">
          <a href="https://www3.lenovo.com/us/en/data-center/Lenovo-ThinkAgile/p/thinkagile" target="lenovo" class="company lenovo">Cisco</a>
        </div>
        <div class="column">
          <a href="http://www.netapp.com" target="netapp" class="company netapp">NetApp</a>
        </div>
      </div>
    </div>
  </div>
</div>
