  <div class="section footer">
    <div class="inner">
      <div class="nav">
        <div class="columns columns--two">
          <div class="column">
            <h3>Lanamark One</h3>
            <ul>
              <li><a href="{{ site.baseurl }}/features.html#design-automation">Design Automation</a></li>
              <li><a href="{{ site.baseurl }}/features.html#hardware-asset-intelligence">Hardware Asset Inteligence</a></li>
              <li><a href="{{ site.baseurl }}/features.html#workload-assessment">Workload Assessment</a></li>
              <li><a href="{{ site.baseurl }}/features.html#core-features">Core Features</a></li>
              <li><a href="{{ site.baseurl }}/pricing.html">Pricing</a></li>
            </ul>
          </div>
          <div class="column">
            <h3>Company</h3>
            <ul>
              <li><a href="{{ site.baseurl }}/about-us">About Us</a></li>
              <li><a href="{{ site.baseurl }}/careers">Careers</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="copyright">
        <div class="brand">
          <a href="{{ site.baseurl }}/" class="logo grey">Lanamark Inc.</a>
        </div>
        <div class="social-media">
          <a href="https://www.linkedin.com/company/lanamark" target="linkedin" class="linkedin">LinkedIn</a>
          <a href="http://twitter.com/lanamarkone" target="twitter" class="twitter">Twitter</a>
        </div>
        <p>Copyright © 2020 ONEIQ&nbsp;Corp. All rights reserved.</p>
        <div class="privacy-policy"><a href="{{ site.baseurl }}/privacy-policy.html">Privacy Policy</a></div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="{{ "/assets/js/libs/jquery.ajax-cross-origin.min.js" | prepend: site.baseurl }}" "jquery.min.js"></script>
  <script src="{{ "/assets/js/min/init-min.js?4" | prepend: site.baseurl }}"></script>
