
<!-- Place somewhere in the <body> of your page -->
<div class="sliderBlock">
  <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="slide">
          <img class="preview" src="/assets/images/slides/workload-11.png" alt="">
        </div>
      </li>
      <li>
        <div class="slide">
          <img class="preview" src="/assets/images/slides/workload-21.png" alt="">
        </div>
      </li>
      <li>
        <div class="slide">
          <img class="preview" src="/assets/images/slides/workload-31.png" alt="">
        </div>
      </li>

      <li>
        <div class="slide">
          <img class="preview" src="/assets/images/slides/design-11.png" alt="">
        </div>
      </li>
      <li>
        <div class="slide">
          <img class="preview" src="/assets/images/slides/design-31.png" alt="">
        </div>
      </li>
      <li>
        <div class="slide">
          <img class="preview" src="/assets/images/slides/design-41.png" alt="">
        </div>
      </li>
    </ul>
  </div>
</div>
