<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
  <script>
    function chartClick() {
      var elm = document.querySelector('[id^="LPMcontainer-"]');
      if (elm) { elm.click(); }
    }
  </script>
  <div class="social-media-bottom">
    <a href="https://www.linkedin.com/company/lanamark" target="linkedin" class="linkedin">LinkedIn</a>
    <a href="http://twitter.com/lanamarkone" target="twitter" class="twitter">Twitter</a>
  </div>

    {% include header.html %}

    {{ content }}

    {% include footer.html %}

  </body>
</html>
